.maincontainer{
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    border: 2px solid black;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.logo{
    height: 50px;
    width: 50px;
}

img{
    height: 50px;
    width: 50px;
}

.counting{
    padding: 30px;
    text-align: center;
}

.as{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}